@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.authContainer{
    width: 100%;
    background-color: rgba(161, 151, 131, 0.062);
}
.authMenu{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authBg{
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.authBg img{
    height: 100%;
}
.auth{
    display: flex;
    width: 200%;
    position: relative;
    left: 50vw;
    transition: all 0.6s ease-in-out;
}
.auth.active{
    transition: all 0.6s ease-in-out;
    left: -50vw;
}
.auth .authCover{
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: none;
}
.auth .authCover div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 70px;
    text-align: center;
}
.auth .authCover div p{
    margin: 35px 0;
    color: #37474f 
}
.auth .authCover div button{
        
    width: 50%;
    height: 40px;
    border-radius: 25px;
    font-size: 18px;
    background-color: rgb(56, 55, 55);
    font-weight: bold;
    color: rgb(226, 226, 226);
    border: none;
    letter-spacing: 1px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
}
.signIn{
    width: 100%;
    height: 100%;
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.signUp{
    width: 100%;
    height: 100%;
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.authContainer .authForm input{
    font-size: 20px;
    padding: 0 10px;
    outline:none;
}
.authContainer .authForm h4{   
    font-size: 12px;
    padding: 5px 0;
    margin: 0;
    text-align: center;
    color: #ef9a9a;
}
.authContainer .authForm>.input-field>h4{   
    font-size: 12px;
    padding: 5px 0;
    margin: 0;
    text-align: center;
    color: #ef9a9a;
}
.authContainer .authForm .authMethod{
    display: flex;
    justify-content: center;
    align-items: center;
}
.authContainer .authForm .authMethod img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 15px 10px 0 10px;
}
.authContainer .authForm .authMethod  h5{
    margin-left: 15px;
    text-align: end;
    font-size: 12px;
    color: #bdbdbd;
}

.authForm .authSignBtn button{ 
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 1.5em;
    background-color: #E6BEAB;
    font-weight: bold;
    color: rgb(61, 61, 61);
    border: none;
    letter-spacing: 1px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
}
.authForm .authSignBtn button:active{
    transform: scale(0.95);
}

.authMobileContainer{
    width: 100%;
}
.authMobile{
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    
}
.authMobileBtn>span, .authMobileBtn>p{
    display: none;
}
.authMobileBtn>button{
    width: 50vw;
    height: 7vh;
    letter-spacing: 1px;
    font-size: 20px;
    border: none;
    font-weight: bold;
}
.authMobileBtn>button:hover{
    background-color:  #E6BEAB;
    color: #5d4037
}
.authMobileBtn>button:active{
    background-color:  #E6BEAB;
    color: #5d4037
}
.signInBottom{
    background-color: rgb(122, 109, 96);
    color: #ffffff;
}
.signUpBottom{
    background-color: rgb(202, 191, 179);
    color: rgb(66, 66, 66);
}

@media screen and (min-width:1280px){
    .authContainer{
        display: flex;
        justify-content: center;
    }
    .authBg{
        opacity: 0.7;
        width: 100%;
    }
    .authBg img{
        height: auto;
        width: 100%;
    } 
    .auth{
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        position: absolute;
        overflow: hidden;
        width: 70vw;   
        height: 400px;
        opacity: 0.8;
        left: auto;
        top:12vw
    }

    .signIn{
        background-color: rgba(45, 52, 54, 1.0);
        height: 400px;
    }
    .signUp{
        background-color: rgba(45, 52, 54, 1.0);
        height: 400px;
    }

    .authContainer .authForm input{
        color: #ffffff;
        margin-bottom: 0px;
    }

    .authForm .authSignBtn button{
        height: 40px;
        font-size: 18px;
    }

    /* cover */
    .auth .authCover{
        display: block;
        height: 400px;
        width: 50%;
        background-color:  #EDECE8;
        position: absolute;
        transition: all 1.6s ease-in-out;
        z-index: 2;
        transform: translateX(100%);

    }
    .auth .authCover.active{
        transition: all 1.6s ease-in-out;      
        transform: translateX(0%);

    }


    .authMobileContainer{
        display: none;
    }
} 

@media screen and (min-width:1366px){
    .auth{
        top:16vw
    }
}
@media screen and (min-width:1600px){
    .auth{
        width: 66vw;
    }
}
@media screen and (min-width:1920px){
    .auth{
        top:20vw;
        width: 60vw;
    }
}




/* reset password */
.resetContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(161, 151, 131, 0.144);
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
.resetContainer>span{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #4e342e
}
.resetContainer>div{
    width: 65%;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 0rem;
}

.resetContainer>div>i{
    font-size: 34px;
    margin-left: 10px;
    margin-right: 20px;
    position: absolute;
    right: -1rem;
    bottom: 10px;
    color:#9e9e9e
}

.resetContainer>h4{
    font-size: 1rem;
    color: red;
    text-align: center
}
.resetContainer>button{
    margin-top: 1rem;
    background-color: #8d6e63;
}

@media screen and (min-width:600px){
    .resetContainer>div{
        width: 48%;
    }
    .resetContainer>button{
        margin-top: 2rem;
    }
}
@media screen and (min-width:768px){
    .resetContainer>div{
        width: 38%;
    }
    .resetContainer>button{
        margin-top: 2rem;
    }
}
@media screen and (min-width:1024px){
    .resetContainer>div{
        width: 25vw;
    }
}
@media screen and (min-width:1280px){
    .resetContainer>div{
        margin-top: 4rem;
    }
}
@media screen and (min-width:1600px){
    .resetContainer>div{
        width: 20vw;
    }
}
@media screen and (min-width:1920px){
    .resetContainer>div{
        width: 17vw;
    }
    .resetContainer>button{
        margin-bottom: 3vw;
    }
}

.resetContainer>.resetPassword.card{
    height: 50vw;
    width: 80vw;
    position: absolute;
    z-index: 1;
    padding: 7vw 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}   
.resetContainer>.resetPassword.card>span{
    text-align: center;
    color:#4e342e;
}
.resetContainer>.resetPassword.card>button{
    background-color: #8d6e63;
    margin: 0 50px;
}

@media screen and (min-width:600px){
    .resetContainer>.resetPassword.card{
        height: 35vw;
        width: 46vw;
    }
}
@media screen and (min-width:768px){
    .resetContainer>.resetPassword.card{
        height: 30vw;
        width: 53vw;
    }
}
@media screen and (min-width:1024px){
    .resetContainer>.resetPassword.card{
        height: 20vw;
        width: 31vw;
        padding : 4vw 5vw
    }
}
@media screen and (min-width:1280px){
    .resetContainer>.resetPassword.card{
        height: 16vw;
        width: 26vw;
        padding : 3vw 4vw
    }
}
@media screen and (min-width:1600px){
    .resetContainer>.resetPassword.card{
        height: 13vw;
        width: 20vw;
        padding : 2vw 3vw

    }
}
@media screen and (min-width:1920px){
    .resetContainer>.resetPassword.card{
        height: 10vw;
        width: 17vw;
        padding : 2vw 2vw;

    }
}


/* sign out */
.signOut.card{
    position: absolute;
    top: 65vw;
    left: 5%;
    height: 50vw;
    width: 90vw;
    padding: 10vw;
    background-color: #fcfaf8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}
.signOut.card>span{
    text-align: center;
    color:#4e342e;
    line-height: 38px;
    font-size: 1.3rem;
}
.signOut.card>div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7vw;
}
.signOut.card>div button{
    border: 1px solid #795548 ;
    width: 120px;
    font-weight: bold;
}
.signOut.card>div button:nth-child(n+1){
    color: white;
    background-color: #8d6e63;
}
.signOut.card>div button:nth-child(n+2){
    color: #8d6e63 ;
    background-color: #f5f5f5;
}

@media screen and (min-width:600px){
    .signOut.card{
        height: 35vw;
        width: 55vw;
        left: 25%;
        top:39vw;
        padding: 5vw;
    }
}
@media screen and (min-width:768px){
    .signOut.card{
        height: 30vw;
        width: 50vw;
    }
}
@media screen and (min-width:1024px){
    .signOut.card{
        height: 20vw;
        width: 40vw;
        padding : 4vw 5vw;
        left: 30%;
    }
}
@media screen and (min-width:1280px){
    .signOut.card{
        left: 34%;
        height: 16vw;
        width: 32vw;
        padding : 3vw 4vw;
        top : 15vw
    }
    .signOut.card>div{
        margin-top: 3vw;
      }
}

@media screen and (min-width:1920px){
    .signOut.card{
        height: 13vw;
        width: 26vw;
        left: 37%;

    }
}