/* Login */
.AuthContainer{
   height: 100vh;
   overflow: hidden;
   background-image: url(../imgs/banner.jpg);
   background-size: cover;
   background-position: center;
}   

.AuthContainer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    align-items: center;
    height: 100vh;  
    width: 100vw;
    position: relative;
    background-color: rgba(162, 165, 165, 0.062);
}   



.AuthContainer .authForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}
.AuthContainer .authForm-up{
  top:150px;
    
}

.AuthContainer #authFormIn{
    
    top:280px;
}

.AuthContainer .authForm input{

   height: 40px;
   width: 250px;
   border: none;
   border-bottom: 2px solid rgb(0, 0, 0);
   font-size: 20px;
   padding: 0 10px;
   outline:none;
   background-color: rgba(255, 255, 255, 0.685);
}
.AuthContainer .authForm h4{
    width: 250px;
    font-size: 10px;
    padding: 5px 0;
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
}

.AuthContainer .authForm .authMethod{
    display: flex;
    width: 270px;
    justify-items: center;

    margin-left: 5px;
}

.AuthContainer .authForm .authMethod img{
   height: 35px;
   width: 35px;
   border-radius: 50%;
   margin: 0 10px;
   

}
.AuthContainer .authForm .authMethod  h5{
    margin-left: 15px;
    text-align: end;
    margin-top: 19px;
    font-size: 10px;
}
.AuthContainer .authForm .authSignBtn{
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    margin: 20px 0 22px 0;
    width: 270px;
    display: flex;
}



.AuthContainer .authForm .authSignBtn>button{
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    background-color: rgb(216, 121, 121);
    width: 100%;
    margin:0 8px;
}

.AuthContainer .authForm .authSignBtn>a>button{
    background-color: rgb(161, 160, 160);
    height: 50px;
    width: 50px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    margin:0 8px;
}




 

 
 @media screen and (min-width:1280px){
    .AuthContainer>.container{
       height:450px;
       width: 350px;
       position: relative;
       top:120px;
       right: -380px;
    }
   
 }
 
 
 @media screen and (min-width:1920px){
    .AuthContainer>.container{    
       top:300px;
       right: -630px;
    }  
  
 }