.categoryContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25vw;  
  
}
.categoryContainer>.description{   
    height: 400px;
    width: 280px;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 5px rgb(54, 54, 54);
    transform: translateY(0px);
    transition: .6s;
    margin-bottom: 12vw;
    border-radius: 5px;
}
.categoryContainer>.description>a>img{
    position: absolute;
    right: -80px;
    width: 230%;    
}
.categoryContainer>.description>a>div{
    background-color: rgba(46, 46, 44, 0.514);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    color: white;   
    padding: 5vw;
}
.categoryContainer>.description>a>div>span{
    display: inline-block;
    height: 100%;
    width: 100%;
    border: 5px solid white;
    border-radius: 5px;
    text-align: center;
    font-size: 2.5rem;
    padding: 100px 0;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.categoryContainer>.description>a>div:hover{
    background-color: rgba(46, 46, 44, 0.979);
}

@media screen and (min-width:768px){

    .categoryContainer{
        margin-top: 20vw;
    }
    .categoryContainer>.description{
        width: 55vw;
        height: 40vw;
    }
 
    .categoryContainer>.description>a>div{
        padding: 3vw;
    }
    .categoryContainer>.description>a>img{
        width: 170%;    
    }
}

@media screen and (min-width:800px){
    .categoryContainer{
        margin-top: 17vw;
    }
    .categoryContainer>.description { 
        width: 48vw;
        height: 33vw;
     }
  
}

@media screen and (min-width:1024px){
    .categoryContainer{
        margin-top: 15vw;
    }
}

@media screen and (min-width:1025px){
    .categoryContainer{
        flex-direction: row;
        margin-top: 14vw;
    }
    .categoryContainer>.description {
       margin: 0 5vw;
       width: 32vw;
       height: 23vw;

    }
    .categoryContainer>.description>a>img{
        position: absolute;
        right: 0;
        width: 120%; 
    }
    .categoryContainer>.description>a>div{
        padding: 1.5vw;
    }
    .categoryContainer>.description>a>div>span{
        line-height: 100px;
        letter-spacing: 1px;
    }   
}

@media screen and (min-width:1366px){
    .categoryContainer{
        margin-top: 13vw;
    }
}

@media screen and (min-width:1920px){
    .categoryContainer{
        margin-top: 16vw;
    }
    .categoryContainer>.description {
        width: 30vw;
        height: 20vw;
     }
}