body{
    margin: 0;
    background-color: rgb(253, 253, 253);
    font-family: "微軟正黑體";
    background-image: url(../imgs/BI2.png);
}

header{
    height: 50px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.75);
    color: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* logo */
header>div{
    font-size: 20px;
}
header>div a{
    text-decoration: none;
    color: white;
}
/* nav */
nav{
    width: 65%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.88);
    position: absolute;
    top:50px;
    display: none;
    right: 0;
    z-index: 99;
}

nav div{
    padding: 10px 20px;
    border-bottom: 1px solid #ffffff;
}

nav div:hover{
    background-color: rgba(92, 91, 91, 0.8);
    font-weight: bold;
}
nav>div a{
    text-decoration: none;
    color: white;
}

#menu_control:checked ~ nav{
   display: block;
}

/* burger bar */
#menu_control{
    position: absolute;
    z-index: -2;
    opacity: 0;
}
.menuBtn{
    padding: 10px 5px;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: calc(100vw - 50px); 
}
.lineContainer{
    width: 100%;
    height: 100%;
    position: relative;
}
.lineContainer .line{
    display: inline-block;
    width: 100%;
    height: 4px;
    transition: all .5s;
    position: absolute;
    left: 0;
    background: rgba(255, 255, 255, 0.931);
}
.lineContainer .line-first{
    top: 0;
}
.lineContainer .line-second{
    top: 50%;
    transform: translate(0, -50%);
}
.lineContainer .line-third{
    bottom: 0;
}

/* 路徑缺一不可 */
#menu_control:checked ~ label div .line-first{
    transition: all 0.5s;
    width: 50%;
    transform: rotate(-45deg);
    top: 3.5px;
    left: -1px;
}
#menu_control:checked ~ label div .line-third{
    transition: all 0.5s;
    width: 50%;
    transform: rotate(45deg);
    bottom: 3.5px;
    left: -1px;
}




@media screen and (min-width:1024px){
    header{
       
        justify-content: space-between;
    }
    header>div{
        padding-left: 40px;
    }
    nav{
        display: flex;
        position: relative;
        top:0;
        padding-right: 40px;
        width: auto;
        align-items: center;
        background-color: transparent;
       
    }
    nav>div{
        border-bottom: none;
    }
    .menuBtn{
            display: none;
        }

 

}
