@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body{
    margin: 0;
    font-family: "微軟正黑體";
    background-color: rgb(252, 250, 248);
    position: relative;

}

/* header */
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    
}
header .nav-wrapper{
    background-color:  #E7D8C9;
    /* background-color:  #E6BEAB;
    background-color: #a1887f;
    background-color: #bcaaa4; */
}
header .nav-wrapper .container{
   position: relative;
 
}

header .nav-wrapper .container>a{
    font-family: 'Sriracha', cursive; 
    position: relative;
    right: -20px;
    
    color:  rgb(122, 109, 96);
}



#mobile-menu{
    position: absolute;
    left: 295px;
    top:57px;
    height: 100vh;
    display: none;
    background-color: #f2f0ed;
    box-shadow: 2px 2px 15px rgba( #495867, .3);

}

#menu_control:checked ~ #mobile-menu{
    display: block;
    animation-name:navAnimation;
    animation-duration:0.5s;
 }
 @keyframes navAnimation{
    from{
        left:0;
    }
    to{
        left:295px;
    }
}
 
/* burger bar */
#menu_control{
    position: absolute;
    z-index: -2;
    opacity: 0;
}
.menuBtn{
    padding: 10px 5px;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: calc(100vw - 70px); 
   
}
.lineContainer{
    width: 100%;
    height: 100%;
    position: relative;
}
.lineContainer .line{
    display: inline-block;
    width: 100%;
    height: 4px;
    transition: all .5s;
    position: absolute;
    left: 0;
    background:  rgb(153, 131, 109);
}
.lineContainer .line-first{
    top: 0;
}
.lineContainer .line-second{
    top: 50%;
    transform: translate(0, -50%);
}
.lineContainer .line-third{
    bottom: 0;
}

/* 路徑缺一不可 */
#menu_control:checked ~ label div .line-first{
    transition: all 0.5s;
    width: 50%;
    transform: rotate(-45deg);
    top: 3.5px;
    left: -1px;
}
#menu_control:checked ~ label div .line-third{
    transition: all 0.5s;
    width: 50%;
    transform: rotate(45deg);
    bottom: 3.5px;
    left: -1px;
}

/* header user img */
header a.btn.btn-floating{
    height: 64px;  
    margin: 15px ;
    
}
header .btn-floating.web-info{
   background-color: #746656;
}

nav ul>li>a{
    color:#5d4037 ;
}
nav .userName{
    display: flex;
   
    align-items: center;
    font-size: 20px;   
}
nav .userName>span{
    margin-left: 15px;
}
nav .userName a .fabName{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
nav .userName .fabName{
    text-align: center;
    font-size: 30px;
}
.sidenav .userName .btn{
    background-color: rgb(144, 128, 112)
}
.sidenav li>a{
    color: #4E4E4E;
}
.sidenav li>a>i{
    font-size: 25px;

}

@media screen and (min-width:640px){
    .sidenav-trigger{
        left: 50px;
    }
    .sidenav-trigger>.material-icons{
        font-size: 40px;
    }


    #mobile-menu{      
        left: 255px;
        top:63px;
        
    }
    
    #menu_control:checked ~ #mobile-menu{
        animation-name:navAnimation_pad;
     }
     @keyframes navAnimation_pad{
        from{
            left:0;
        }
        to{
            left:255px;
        }
    }
    .menuBtn{
        top:12px;
        left: calc(100vw - 110px); 
    }  
}
@media screen and (min-width:800px){
    .menuBtn{
        left: calc(100vw - 120px); 
    } 
}
@media screen and (min-width:993px){
    header a.btn.btn-floating{
        height: 40px;
        width: 40px;
        margin: 0 0 0 25px;
    }
    header .nav-wrapper .container{
        width: 100vw;
        padding: 0 30px;
    }

    nav i.navI{
        display: none;
    }
    .menuBtn{
        display: none;
        
    }
    .sidenav{
        display: none
    }
}
@media screen and (min-width:1280px){
    .nav-wrapper .container{
        width: auto;     
    }
}


/* loading */
.loadingContainer{
    
    box-sizing:none;
    position: relative;
    z-index: 9;
    width: 100vw;
    height: 100vh;
   
}
.loadingContainer .loading {
   
    position: absolute;
    top: 50%;
    left : 50%;
    
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
  
.loadingContainer .loading .binding {
    content : '';
    width : 50px;
    height : 10px;
    border : 2px solid rgb(153, 131, 109);
    margin : 0 auto;
  }
  
.loadingContainer .loading .pad {
    width : 50px;
    height : 50px;
    border : 2px solid rgb(153, 131, 109);
    border-top : 0;
    padding : 6px;
    padding-top: 10px;
    margin : 0 auto;
  }
  
.loadingContainer .line {
    width : 15px;
    margin-top : 10px;
    border-top : 2px solid rgb(153, 131, 109);
    opacity : 0;
    -webkit-animation : writeline 3s infinite ease-in;
    -moz-animation : writeline 3s infinite ease-in;
    -o-animation : writeline 3s infinite ease-in;
    animation : writeline 3s infinite ease-in;
  }
  
.loadingContainer  .loading .line:first-child {
    margin-top : 0;
  }
  
.loadingContainer .loading .line.line1 {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
  }
  
.loadingContainer .loading .line.line2 {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  
.loadingContainer .loading .line.line3 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay : 1s;
  }
  
.loadingContainer .loading .text {
    text-align : center;
    margin-top : 10px;
    font-size : 14px;
    color : rgb(153, 131, 109);

    -webkit-animation : writeline 3s infinite ease-in;
    -moz-animation : writeline 3s infinite ease-in;
    -o-animation : writeline 3s infinite ease-in;
    animation : writeline 5s infinite ease-in;
    
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  
  @-webkit-keyframes writeline {
    0% { width : 0px; opacity: 0; }
    33% { width : 15px; opacity : 1; }
    70% { opacity : 1; }
    100% {opacity : 0; }
  }
  
  @-moz-keyframes writeline {
    0% { width : 0px; opacity: 0; }
    33% { width : 15px; opacity : 1; }
    70% { opacity : 1; }
    100% {opacity : 0; }
  }
  
  @-o-keyframes writeline {
    0% { width : 0px; opacity: 0; }
    33% { width : 15px; opacity : 1; }
    70% { opacity : 1; }
    100% {opacity : 0; }
  }
  
  @keyframes writeline {
    0% { width : 0px; opacity: 0; }
    33% { width : 15px; opacity : 1; }
    70% { opacity : 1; }
    100% {opacity : 0; }
  }



/* footer */

.page-footer{
    /* background-color: #E6BEAB; */
    background-color: #6d5e4fee;
}
.page-footer>div{
    /* color:#513D3A */
    color: #FCFAF8;;
}


/* Login */
/* .AuthContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: rgba(68, 70, 70, 0.062);
    
}

.AuthContainer .authForm{
    display: flex;
    flex-direction: column;
}
.AuthContainer .authForm input{
   height: 50px;
   width: 250px;
   border: none;
   border-bottom: 2px solid  rgb(0, 0, 0);
   font-size: 20px;
   padding: 0 10px;
   outline:none;
   background-color: transparent;
}



.AuthContainer .authForm h5{
    text-align: end;
    margin-bottom: 0;
    font-size: 12px;
}

.AuthContainer .authForm button{
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    margin: 30px 0 22px 0;
    background-color: rgb(161, 160, 160);
}

.AuthContainer>a>button{
    height: 50px;
    width: 270px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    background-color: pink;
    margin-bottom: 22px;
}


.AuthContainer>button{
    height: 50px;
    width: 270px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    background-color: rgb(21, 47, 104);
    margin-bottom: 22px;
    color: white;
}
.AuthContainer>.google{
  
    background-color: rgb(235, 48, 48);
   
}
 */
