.FC_CardEach.container{
    margin-top: 150px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

/* card */
.FC_CardEach>.card{
    width: 300px; 
    position: relative;
	perspective: 1000px;
    cursor: pointer;
    box-shadow: none;
}

.FC_CardEach .frontSide,.FC_CardEach .backSide {
    height: 400px;
    width: 300px;  
    position: absolute;   
    top:0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
                0 3px 1px -2px rgba(0,0,0,0.12),
                0 1px 5px 0 rgba(0,0,0,0.2);
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}
.FC_CardEach .frontSide>i,.FC_CardEach .backSide>i{
   font-size: 35px;
   position: absolute;
   top:2px;
   right: 2px;
   padding: 6px;
   border-radius: 50%;
}
.FC_CardEach .frontSide>span,.FC_CardEach .backSide>span{
    font-size: 70px;
    padding-bottom: 40px;
}

@media screen and (min-width:1024px){
    .FC_CardEach.container{
        margin-top: 180px;
    }
    .FC_CardEach>.card{
        width: 600px;
    }
    .FC_CardEach .frontSide,.FC_CardEach .backSide {
        height: 800px;
        width: 600px;
    }
    .FC_CardEach .frontSide>i, .FC_CardEach .backSide>i{
        font-size: 60px;
        top:5px;
        right: 5px;
    }
    .FC_CardEach .frontSide>span,.FC_CardEach .backSide>span{
        font-size: 100px;
        padding-bottom: 40px;
    }
}

@media screen and (min-width:1280px){
    .FC_CardEach.container{
        margin-top: 115px;
        flex-direction: row;
        align-items: flex-start;
        position: relative;
    }
    .FC_CardEach>.card{
        width: 300px;
    }
    .FC_CardEach .frontSide,.FC_CardEach .backSide {
        height: 400px;
        width: 300px;
        left: -240px;
    }
    .FC_CardEach .frontSide>i, .FC_CardEach .backSide>i{
        font-size: 35px;
        top:2px;
        right: 2px;
    }
    .FC_CardEach .frontSide>span,.FC_CardEach .backSide>span{
        font-size: 70px;
    }
}
@media screen and (min-width:1920px){
    .FC_CardEach.container{
        width: 45%;
        margin-top: 250px;
    }
    .FC_CardEach .frontSide,.FC_CardEach .backSide {
        height: 480px;
        width: 360px;
        left: -340px;
    }
}
/* page */
.FC_CardEach>.page{
    margin-top: 420px;
    font-size: 20px;
    color: #666666b7;
}

/* menu */
.FC_CardEach>.controlMenu{
    margin-top: 30px;
    width: 270px;
    display: flex;
    justify-content: space-between;
}
.FC_CardEach>.controlMenu>i{
    font-size: 35px;
    border-radius: 50%;
    padding: 3px;
}

.FC_CardEach>.controlMenu .socket{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 2px solid #eceaea;
    position: relative;  
}
.FC_CardEach>.controlMenu .socket .record{
    width: 90%;
    height: 90%;
    background: red;
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0.25px;
    margin: 0 auto;
    top: 1px;
    -webkit-transition: all .3s;
    transition: all .3s;
    transition-timing-function: cubic-bezier(.05,.58,.32,1.35);
    -webkit-transition-timing-function: cubic-bezier(.05,.58,.32,1.35); 
    cursor: pointer
}
.FC_CardEach>.controlMenu .socket .record .active{
    width: 60%;
    height: 60%;
    border-radius: 4px;
    top: 6px;
}

.FC_CardEach>.pageControl{
    margin-top: 30px;
    width: 270px;
    display: flex;
    justify-content: space-around;
}
.FC_CardEach>.pageControl>i{
    font-size: 35px;
    border-radius: 50%;
    padding: 3px;
    color: white;
    background-color: rgb(218, 219, 219);
}

@media screen and (min-width:768px){
   
    .FC_CardEach>.controlMenu .socket .record{
        top:1.5px;
        right: -0.75px;
    }
   
}

@media screen and (min-width:1024px){
    
    .FC_CardEach>.controlMenu{
        margin-top: 440px;
        width: 500px;
    }

   .FC_CardEach>.controlMenu .socket{
        width: 60px;
        height: 60px;   
        
    }
    .FC_CardEach>.controlMenu .socket .record{
        top:3px;
        right: 1px;
    }
    .FC_CardEach>.controlMenu .socket .record .active{
        top: 12px;
       
    }
    .FC_CardEach>.controlMenu>i{
        font-size: 50px;
        
    }
    .FC_CardEach>.pageControl{
        margin-top: 60px;
        width: 500px;
    }
    .FC_CardEach>.pageControl>i{
        font-size: 50px;
    }
    
}

@media screen and (min-width:1280px){

        
    .FC_CardEach>.controlMenu{
        margin-top: 0px;
        width: 360px;
        position: absolute;
        left: 500px;
        top: 340px;
    }

   .FC_CardEach>.controlMenu .socket{
        width: 35px;
        height: 35px;  
        bottom: 0px;
       
    }
    .FC_CardEach>.controlMenu .socket .record{
        left: 1.65px;
        top: 1.5px;
    }
    .FC_CardEach>.controlMenu .socket .record .active{
        top: 6px;
        left: 1px;
       
    }
    .FC_CardEach>.controlMenu>i{
        font-size: 35px;
        
    }

    .FC_CardEach>.pageControl{
        margin-top: 0px;
        width: 480px;
        position: absolute;
        top: 230px;
        left: 440px;
    }
    .FC_CardEach>.page{
        position: absolute;
        top:120px;
        left: 620px;
        margin-top: 0;
        font-size: 40px;
    }
   
  
 
}

@media screen and (min-width:1920px){
    .FC_CardEach>.controlMenu{
        top: 380px;
    }
    .FC_CardEach>.pageControl{     
        top: 270px;  
    }
    .FC_CardEach>.page{ 
        top:160px;       
    }
} 
