.homepageContainer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;   
}
.description{   
    height: 400px;
    width: 280px;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 15px 15px rgb(54, 54, 54);
    transform: translateY(0px);
    transition: .6s;
    margin-bottom: 35px;
}
.description>a>img{
    position: absolute;
    right: -80px;
    width: 230%;    
}
.description>a>div{
    background-color: rgba(46, 46, 44, 0.514);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    color: white;   
}
.description>a>div>span{
    display: inline-block;
    height: 150px;
    width: 230px;
    border: 5px solid white;
    text-align: center;
    margin: 20px;
    font-size: 40px;
    padding: 100px 0;
    font-weight: bold;
}
.description:hover{
    transform: translateY(-5px);
}
.description>a>div:hover{
    background-color: rgba(46, 46, 44, 0.979);
}
@media screen and (min-width:768px){

    .description{
        margin: 70px 30px;
        width: 300px;
    }
    .description:hover{
        transform: translateY(-15px);
    }

    .description>a>div>span{
        width: 250px;
    }
}
@media screen and (min-width:1024px){

    .homepageContainer{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .description{
       width: 600px;
       margin: 100px 0;
    }
    .description>a>img{
        position: absolute;
        right: 0px;
        width: 100%;    
    }
    .description>a>div>span{
        width:550px;
        text-align: center;
        font-size: 48px;
        line-height: 150px;
    }
}
@media screen and (min-width:1280px){
    .homepageContainer{
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .description {
       margin: 25px 50px;
       width: 500px
    }
    .description>a>img{
        position: absolute;
        right: -60px;
        width: 120%;    
    }
    .description>a>div>span{
        width:450px;
        line-height: 100px;
        letter-spacing: 1px;
    }   
}
@media screen and (min-width:1920px){

    .description{
        margin-top: 120px;
        height: 600px;
    }

    .description>a>img{
        position: absolute;
        right: -80px;
        width: 180%;    
    }

    .description>a>div>span{
        width:450px;
        height: 58%;  
        line-height: 200px;
        font-size: 60px;
    } 

}