.homepageContainer>header>.nav-wrapper{
   background-color: #FCFAF8;
   box-shadow: none;
}
.homepageContainer>header .nav-wrapper .container>a{
   color:  #6d5e4f;
}

/* bubble */
.bubbleContainer{
   width:100%;
   height:100vh;
   overflow: hidden;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction: column; 
}
 
.under-container{
   width:100vw;
   max-width:100%;
}

.bubble {
   position:relative;
}
 
.bubble::before{
   content: "";
   position:absolute;
   z-index:-1;
   top: 130px;
   left: 230px;
   transform: translate(-50%, -50%);
   display: block;
   width: 20vh;
   height: 20vh;
   min-height: 100px;
   min-width: 100px;
   background: #ECDDDC;
   border: 5px solid #fcfcfc96;
   box-shadow: inset 0px -20px 100px 0px rgba(255, 255, 255, 0.48);
   animation: 
     transform 20s linear infinite alternate,
     movement 40s linear infinite alternate,
     shade 60s linear infinite alternate;
 }
 
.bubble::after{
   content: "";
   position:absolute;
   z-index:0;
   left: 50%;
   top:40px;
   transform: translate(-50%, -50%);
   display: block;
   width: 40vh;
   height: 40vh;
   min-height: 200px;
   min-width: 200px;
   background-image: url(https://images.unsplash.com/photo-1546098072-0c1e1f7a73de?ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80);
   background-size: 120% 120%;
   border: 15px solid #efebe9a1;
   box-shadow:inset 0 0 0px 10px #fffefe57;
   animation: 
     transform2 20s linear infinite alternate-reverse,
     shade 60s linear infinite alternate-reverse;
 }
 
 @keyframes transform
 {
     0%,
   100% { border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; } 
    20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; } 
    40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; } 
    60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; } 
    80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; } 
 }
 
 @keyframes transform2 {
   0%{border-radius: 42% 58% 60% 40% / 32% 54% 46% 68%}
   20%{border-radius: 59% 41% 36% 64% / 32% 64% 36% 68%}
   40%{border-radius: 48% 52% 52% 48% / 54% 53% 47% 46%}
   60%{border-radius: 42% 58% 51% 49% / 63% 64% 36% 37%}
   80%{border-radius: 32% 68% 33% 67% / 63% 35% 65% 37%}
   100%{border-radius: 34% 66% 52% 48% / 34% 53% 47% 66%}
}
 
@keyframes movement{
   from { -webkit-transform: rotate(-1turn) translateY(-50px); transform: rotate(-1turn) translateY(-50px); }
     to { -webkit-transform: none; transform: none; }
}
 
@keyframes shade{
   0%, 100% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
}

@media screen and (min-width:640px){
   .bubble::before{   
      top: 5vh;
      left: 55vh;
    
   }
}

@media screen and (min-width:768px){
   .bubble {
      top:0px
   }

   .bubble::before{   
      top: 0;
      left: 50vh;
      width: 17vh;
      height: 17vh;
   }
}

@media screen and (min-width:800px){
   .bubble::after{
      width: 55vh;
      height: 55vh;
}
    
   .bubble::before{   
      top: 8vh;
      left: 95vh;
      width: 20vh;
      height: 20vh;
   }
}


@media screen and (min-width:1024px){    
   .bubble {
      top:0px
   }
   .bubble::before{
      left: 53vh;
   }
}

 @media screen and (min-width:1280px){
   .bubbleContainer{
      flex-direction: row;
      position: relative;
   }
   
   .bubble::before{
      left: 45vw;
      width: 15vw;
      height: 15vw;
   }
   .bubble::after{
      width: 65vh;
      height: 65vh;
   }
}

@media screen and (min-width:1920px){
   .bubble::before{
      width: 15vw;
      height: 15vw;
   }
}

 /* bubble content */
.contentContainer{
   position: relative;
   top: 30vh;
   width: 100%;
   text-align: center;
   padding: 40px;
 }
.contentContainer>div{
   font-size: 20px;
   font-weight: bold;
   font-family: "Sriracha", cursive; 
 }

.contentContainer>.authBtn{
   margin-top: 45px;
   display: flex;
   justify-content: space-around;
 }
.contentContainer>.authBtn>a>button{
   width: 120px;
   font-weight: bold;
   letter-spacing: 1px;
}
.contentContainer>.authBtn>a>.guest{
   color: #6d5e4f; ;
   background-color: rgb(252, 248, 244);
   border: 1px solid #6d5e4f; ; 
}
.contentContainer>.authBtn>a>.member{
   color: #FCFAF8; ;
   background-color: #6d5e4fee;
   border: 1px solid #6d5e4fee; 
}
@media screen and (min-width:640px){
   .contentContainer{    
      top: 25vh;
    }
   .contentContainer>div{
      font-size: 20px;
    }
   
   .contentContainer>.authBtn{
     padding: 0 70px;
     margin-top: 25px;
    }
   .contentContainer>.authBtn>a>button{
      width: 105px;
      height: 35px;
      letter-spacing: 0px;
      font-size: 12px;
   }

}
@media screen and (min-width:768px){
   .contentContainer{    
      top: 25vh;
    }
   .contentContainer>div{
      font-size: 24px;
    }
   
   .contentContainer>.authBtn{
     padding: 0 120px;
     margin-top: 30px;
    }
   .contentContainer>.authBtn>a>button{
      width: 125px;
      height: 40px;
      font-size: 16px;
   }
}
@media screen and (min-width:800px){

   .contentContainer{    
      top: 30vh;
    }
   .contentContainer>div{
      font-size: 24px;
    }
   
   .contentContainer>.authBtn{
 
     margin-top: 23px;
    }
   .contentContainer>.authBtn>a>button{
      width: 130px;
      height: 40px;
      letter-spacing: 0px;
      font-size: 15px;
   }


 }
@media screen and (min-width:1024px){
   
   .contentContainer{    
      top: 33vh;
    }
   .contentContainer>div{
      font-size: 28px;
    }
   
   .contentContainer>.authBtn{
     padding: 0 200px;
     margin-top: 32px;
    }
   .contentContainer>.authBtn>a>button{
      width: 135px;
      height: 40px;
      letter-spacing: 0px;
      font-size: 15px;
   }
}
@media screen and (min-width:1280px){
   .contentContainer{
      position: relative;
      top:0;
      width: 80%;
   }
   .contentContainer>.authBtn{
      padding:  0 60px;
      justify-content: space-between;
    }
   .contentContainer>.authBtn>a>button{
      width: 150px;
      letter-spacing:2px;
   }
}
@media screen and (min-width:1366px){
   .contentContainer{
      width: 70%;
   }
}
@media screen and (min-width:1600px){
   .contentContainer{
      margin-right: 10vh;
      width: 60%;
   }
}

@media screen and (min-width:1920px){
   .contentContainer{
      top:0; 
      margin-right: 20vh;
   }
   .contentContainer>div{
      font-size: 32px;
    }
   .contentContainer>.authBtn{
      padding:  0 85px;
      margin-top: 45px;
      justify-content: space-between;
    }
   .contentContainer>.authBtn>a>button{
      width: 150px;
      letter-spacing: 1px;
   }
}
@media screen and (min-width:2048px){
   .contentContainer{
      top:0; 
      margin-right: 28vh;
   }
}


/* information  */
.informationContainer {
   width: 100%;
   background-color: #EEE4E1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 30px 0;
}
.information.card {
   width: 300px;
   padding-top: 20px;
}

.information.card>.card-image{
   border-bottom:1px solid #c2b6ab;
   padding: 20px;
   width: 100%;
}
.information.card>.card-image img{
   width: 100%;
}
.information.card .card-title{
   font-weight: bold;
}
@media screen and (min-width:768px){
   .informationContainer {
     
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: 30px ;
   }
   .information.card {
      height: 490px;  
      margin: 0;
   }

}
@media screen and (min-width:993px){
   .information.card {
      height: 510px;
   }
}
@media screen and (min-width:1024px){
   .information.card {
      height: 520px;  
   }
   .informationContainer {
      justify-content: center;
   }
   .information.card {
      margin: 0 70px;
   }
}
@media screen and (min-width:1280px){
   .informationContainer {

      padding: 50px 0;
   
   }
   .information.card {
      width: 485px;  
      height: 23vw;
      margin: 0 3vw;
      display: flex;
      padding: 20px;
   }
   .information.card>.card-image{
      height: 100%;
      width: 110%;
      padding: 0 3vw;
      border-right: 1px solid #c2b6ab;
      position: relative;  
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-bottom: none;

     }
   .information.card>.card-image img{
      width: 130%;
   }
   .information>.card-content{
      padding: 10px 0px 20px 30px;
   }
   .information.card>.card-image>.btn-floating{
      right: -20px;
      top:0.5rem;
   }
   .information.card p{
      line-height: 1.5rem; 
      margin-top:15px  
   }
}
@media screen and (min-width:1600px){
 
   .information.card {
      margin: 0 6vw;
      width: 34vw;
   }
   .information>.card-content {
      padding: 40px 0px 20px 30px;
   }
}
@media screen and (min-width:1920px){

   .information.card {
      margin: 0 4vw;
      height: 17vw;
      width: 32vw;
   }
   .information.card>.card-image>.btn-floating{
      top:2.5rem;
   }
}

/* tool */
.toolContainer {
   width: 100%;
   background-color: #E7D8C9;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 30px 0;
}
.tool.card {
   width: 300px;
   height: 200px;
   position: relative;
   margin-top: 50px;
   
   
}

.tool.card>.card-image{
   background-color: rgb(211, 205, 198);
   border: 5px solid #ffffff;
   height: 80px;
   width: 80px;
   border-radius: 50%;
   position: absolute;
   top: -35px;
   left: 120px;
   display: flex;
   justify-content: center;
   align-items: center;

}
.tool.card>.card-image>i{
   font-size: 40px;
   color: #faf6f6;
}
.tool.card>.card-content{
   margin-top: 30px;
}
.tool.card .card-title{
   font-weight: bold;
}
@media screen and (min-width:768px){
   .toolContainer {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
   }
   .tool.card {
      margin-top: 60px;    
   }
}

@media screen and (min-width:1280px){
   .toolContainer {
      padding: 30px 60px;
   }
}
@media screen and (min-width:1920px){
   .toolContainer {
      padding: 30px 140px;
      justify-content: center;
   }
   .tool.card {
      margin: 60px 70px;    
   }
}