.TC_Symobol{
    width: 100%;
    overflow: hidden;
}
.TC_SymobolContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* content front */
.TC_SymobolContent{
    margin-top: 85px;
    height: 340px;
    width: 290px;
    background-color: #F4EFE7;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 3px solid #eceaea; */
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
                0 2px 1px -2px rgba(0,0,0,0.12), 
                0 1px 5px 0 rgba(0,0,0,0.2);
}
.TC_SymobolContent>.ContentImg{
    width: 100%;
    height: 100%;
    position: relative;
    display: contents;
   
}
.TC_SymobolContent>.ContentImg>div{
  position: relative;
  height: 70%;
  overflow: hidden;
} 
.TC_SymobolContent>.ContentImg>div>img{    
    width: 110%;
    position: absolute;
    top: 0;
    border-radius: 2px;
}
.TC_SymobolContent>.ContentImg>span{    
   font-size: 2rem;
   color: #0277bd;
   display: inline-block;
   text-align: center;
   font-weight: bold;

}
/* content back */
.TC_SymobolContent>.ContentImgDetail{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.TC_SymobolContent>.ContentImgDetail>span{
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    font-size: 2rem;
}
.TC_SymobolContent>.ContentImgDetail span:nth-child(n+1){
    color: #795548;
}
.TC_SymobolContent>.ContentImgDetail span:nth-child(n+2){
    color:#9e9e9e
}
.TC_SymobolContent>.ContentImgDetail span:nth-child(n+3){
    color:#00897b
}
.TC_SymobolContent>.ContentImgDetail span:nth-child(n+4){
    color:#455a64  
}
@media screen and (min-width:586px){
    .TC_SymobolContent{
        width: 63%;
        margin-top: 15vw;
    }
}
@media screen and (min-width:768px){
    .TC_SymobolContent{
        width: 55%;
        margin-top: 15vw;
        height: 360px;
    }
    .TC_SymobolContent>.ContentImg>div>img{    
        width: 100%;
    }
}
@media screen and (min-width:800px){
    .TC_SymobolContent{
        width: 58%;
        margin-top: 14vw;
    }
}
@media screen and (min-width:993px){
    .TC_SymobolContent{
        width: 50%;
        margin-top: 11vw;
    }
}
@media screen and (min-width:1024px){
    .TC_SymobolContent{
        width: 53%;
        height: 450px;
        margin-top: 15vw;
    }
    .TC_SymobolContent>.ContentImgDetail>span{    
        font-size: 2.3rem;
    }
}
@media screen and (min-width:1025px){
    .TC_SymobolContainer{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 10vw;
        margin-top: 10vw;

    }
    .TC_SymobolContent{
        
        width: 45%;
        height: 360px;
        margin-top: 0vw;
        margin-right:2vw;
    }
    .TC_SymobolContent>.ContentImgDetail>span{    
        font-size: 2rem;
    }
}
@media screen and (min-width:1280px){
    .TC_SymobolContent{
        margin-right:5vw;
        padding-top: 10px;
        height: 400px;
    }
    .TC_SymobolContent>.ContentImg>div>img{  
        padding: 0 10px;
    }
}
@media screen and (min-width:1366px){
    .TC_SymobolContent{
        width: 43%;
    }
}
@media screen and (min-width:1600px){
    .TC_SymobolContent{
        height: 460px;
    }
    .TC_SymobolContent>.ContentImg>span{
        font-size: 2.5rem;
    }
    .TC_SymobolContent>.ContentImgDetail>span{    
        font-size: 2.5rem;
    }
}
@media screen and (min-width:1920px){
    .TC_SymobolContainer{
        margin-top: 13vw;
    }
    .TC_SymobolContent{
        margin-right:7vw;
        height: 27vw;
        width: 35%;
    }
    .TC_SymobolContent>.ContentImg>span{
        font-size: 3.5rem;
    }
}
/* menu */
.TC_SymobolContent>.TC_SymobolMenu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: flex-end;
    padding: 10px 0;
}
.TC_SymobolContent>.TC_SymobolMenu i{
    font-size: 35px;
}
.TC_SymobolContent>.TC_SymobolMenu i:hover{
    background-color: rgba(169, 169, 169, 0.5);
    border-radius: 50%;
}
.TC_SymobolContent>.TC_SymobolMenu .socket{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 2px solid #eceaea;
    position: relative;  
}
.TC_SymobolContent>.TC_SymobolMenu .socket .record{
    width: 90%;
    height: 90%;
    background: red;
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 2px;
    -webkit-transition: all .3s;
    transition: all .3s;
    transition-timing-function: cubic-bezier(.05,.58,.32,1.35);
    -webkit-transition-timing-function: cubic-bezier(.05,.58,.32,1.35); 
    cursor: pointer
}
.TC_SymobolContent>.TC_SymobolMenu .socket .record.active{
    width: 60%;
    height: 60%;
    border-radius: 4px;
    top: 6px;
}



/* writing board */

.TC_SymobolContainer canvas{
    margin-top: 20px;
    cursor: url(../imgs/pencil.png) 4 12, auto;
    background-color: rgb(254, 255, 255);
    border: 1px solid #eceaea;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
                0 3px 1px -2px rgba(0,0,0,0.12), 
                0 1px 5px 0 rgba(0,0,0,0.2);
}
.TC_SymobolContainer>.writingBoard>.writingBoardMenu{
    position: absolute;
    bottom:40px;
    z-index: 3; 
    width: auto;
}
.TC_SymobolContainer>.writingBoard>.writingBoardMenu i{
    color: rgb(131, 133, 132);
    font-size: 33px;
    border-radius: 50%;
    margin: 2vw;
}

@media screen and (min-width:993px){
    .TC_SymobolContainer>.writingBoard>.writingBoardMenu i{
        margin: 1.5vw;
    }
}
@media screen and (min-width:1025px){
    .TC_SymobolContainer canvas{
        margin-top: 5px;
    }
}
@media screen and (min-width:1280px){
    .TC_SymobolContainer>.writingBoard>.writingBoardMenu i{
        margin: 1vw;
    }
}

/* page */

.lastPageBtnSymbol, .nextPageBtnSymbol{
    position: absolute;
    top:400px;
    font-size: 40px;
    color: seashell;
    background-color: rgba(49, 46, 42, 0.185);
}
.nextPageBtnSymbol{
    left: calc(100% - 40px);
}
.lastPageBtnSymbol, .nextPageBtnSymbol:hover{
    background-color: rgba(49, 46, 42, 0.568);
}
.TC_SymobolContainer>.page{
    width: 100%;
    text-align: center;
    color: rgb(119, 118, 118);
    margin-top: 15px;
    font-size:14px
}




@media screen and (min-width:768px){
   
    .lastPageBtnSymbol, .nextPageBtnSymbol{
        top:500px;
        font-size: 50px;
    }
    .nextPageBtnSymbol{
        left: calc(100% - 50px);
    }
    /* .TC_SymobolContainer>.page{
        margin: 3vw;
    } */
}

@media screen and (min-width:1024px){
  
   
    .lastPageBtnSymbol, .nextPageBtnSymbol{
        top:580px;
        font-size: 70px;
    }
    .nextPageBtnSymbol{
        left: calc(100% - 70px);
    }
  
}

@media screen and (min-width:1280px){

   
    .lastPageBtnSymbol, .nextPageBtnSymbol{
        top:300px;
        font-size: 50px;
    }
    .nextPageBtnSymbol{
        left: calc(100% - 50px);
    }
}

@media screen and (min-width:1920px){

   
    
    .lastPageBtnSymbol ,.nextPageBtnSymbol{
        top:500px;
        font-size: 60px;
    }
    .nextPageBtnSymbol{
        left: calc(100% - 60px);
    }
    
} 