.TC_SymobolContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.TC_SymobolContent{
    margin-top: 30px;
    height: 300px;
    width: 270px;
    background-color: rgb(214, 199, 178);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.TC_SymobolContent>.ContentImg{
    height: 250px;
    width: 120px;
    background-color: rgba(122, 99, 66, 0.418);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

.TC_SymobolContent>.ContentImg>div{
    background-color: cadetblue;
    height: 110px;
    width: 105px;
    font-size: 22px;
    text-align: center;
} 


.TC_SymobolContent>.ContentImgDetail{
    height: 250px;
    width: 150px;
    background-color: rgba(108, 190, 201, 0.473);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
}

.TC_SymobolContent>.ContentImgDetail span{
    background-color: rgba(122, 142, 179, 0.322);
    width: 100%;
    text-align: center;
}


.TC_SymobolContent>.TC_SymobolMenu{
    height: 50px;
    width: 100%;
    background-color: rgba(75, 165, 116, 0.842);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.TC_SymobolContent>.TC_SymobolMenu img{
    height: 40px;
    width: 40px;
    background-color: rgba(169, 169, 169, 0.5);
}

.TC_SymobolContainer canvas{
    margin-top: 20px;
    cursor: url(../imgs/pencil.png) 4 12, auto;
    background-color: rgb(254, 255, 255);
}
.TC_SymobolContainer button{
    margin-top: 20px;
    width: 150px;
}

@media screen and (min-width:768px){
    .TC_SymobolContainer{
        flex-direction: column;
    }
    .TC_SymobolContent{
        margin-top: 30px;
        height: 390px;
        width: 500px;   
        padding: 20px;
        position: relative;
    }
    .TC_SymobolContent>.ContentImg{
        height: 100%;
        width: 200px;
    }
    .TC_SymobolContent>.ContentImg>div{
        height: 170px;
        width: 170px;
    } 
    .TC_SymobolContent>.ContentImgDetail{
        height: 280px;
        width: 300px;  
    }
    .TC_SymobolContent>.TC_SymobolMenu{
        height: 110px;
        width: 300px;
        position: absolute;
        bottom: 20px;
        right:20px;
    }    
    .TC_SymobolContent>.TC_SymobolMenu img{
        height: 70px;
        width: 70px;
    }
    .TC_SymobolContainer canvas{
        margin-top: 25px;

    }
}

@media screen and (min-width:1024px){
    .TC_SymobolContainer{
        margin-top: 80px;
    }
    .TC_SymobolContainer canvas{
        margin-top: 70px;
    }
    .TC_SymobolContainer button{
        margin-top: 80px;

    }
}

@media screen and (min-width:1280px){
    .TC_SymobolContainer{
       flex-direction: row;
       margin-top: 70px;
    }
    .TC_SymobolContent{
        height: 340px;
        width: 500px;
        margin-top: 0px;
    }
    .TC_SymobolContent>.ContentImg{
        height: 340px;
        width: 230px;
    }

    .TC_SymobolContent>.ContentImg>div{
        height: 150px;
        width: 180px;
    } 
    .TC_SymobolContent>.ContentImgDetail{
        height: 230px;
        width: 270px;
      
    }   
    .TC_SymobolContainer canvas{
        margin-left: 40px;
        margin-top: 0px;
    }
    .TC_SymobolContent>.TC_SymobolMenu{
        height: 110px;
        width: 270px;
        
    }
    .TC_SymobolContainer button{
        width: 300px;
        height: 30px;
        margin-top: 35px;
    }

}

@media screen and (min-width:1920px){
    .TC_SymobolContainer{
       
        margin-top: 150px;
     }
    .TC_SymobolContainer button{
        position: fixed;
        top:700px
    }
    .TC_SymobolContainer canvas{
        margin-left: 130px;
    }
 
    
}