.TC_UnitContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 110px;

}
.unitImg{
    background-color: #F4EFE7;
    position: relative;
    border: 5px dashed #E1D7C9;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(49, 46, 42);
    margin-top: 30px;
}
.unitImg img{
    height: 190px;
    width: 190px;

    margin: 30px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgb(49, 46, 42)
}
.TC_UnitContainer ul{
    margin-top: 40px;
    height: 230px;
    width: 260px;
    background-color: #E1D7C9;
    list-style-type:none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border: 5px dashed rgb(255, 255, 255);
    box-shadow: 1px 1px 5px rgb(49, 46, 42);
    border-radius: 5px;
}
.TC_UnitContainer li{
    margin: 10px;
    font-weight: bold;
    font-size: 22px;
}
.TC_UnitContainer li:nth-child(n+2){
    color: #5F5F5A;
}
.TC_UnitContainer li:nth-child(n+3){
    color: #1b79ac;
}
.TC_UnitContainer li:nth-child(n+4){
    color: #F37101;
}





@media screen and (min-width:768px){
    .TC_UnitContainer{
        flex-direction: column;
        align-items: center;    
    }   
    .unitImg{
        height: 400px;
        width: 400px;
    }
    .unitImg img{
        height: 320px;
        width: 320px;
        margin: 35px;
    }
    .TC_UnitContainer ul{
        height: 290px;
        width: 400px;
        margin-top: 50px;
    }
    .TC_UnitContainer li{
        font-size: 30px;
    }
    
}


@media screen and (min-width:1024px){
     
    .TC_UnitContainer{
        margin-top: 130px;

    }
    .unitImg{
        height: 500px;
        width: 500px;
    }
    .unitImg img{
        height: 400px;
        width: 400px;
        margin: 45px;
    }
    .TC_UnitContainer ul{
        height: 350px;
        width: 500px;
        margin-top: 80px;
    }
}


@media screen and (min-width:1280px){
     
    .TC_UnitContainer{
        margin-top: 40px;
        flex-direction: row;
    }

    .unitImg{
        height: 350px;
        width: 350px;
        margin-top: 80px;
    }
    .unitImg img{
        height: 270px;
        width: 270px;
        margin: 35px;
    }
    .TC_UnitContainer ul{
        height: 350px;
        width: 350px;
        margin: 80px 0 0 100px;
       
    }
  
}

@media screen and (min-width:1920px){
     
    .TC_UnitContainer{
        margin-top: 130px;
    }

    .unitImg{
        height: 500px;
        width: 500px;
        margin-top: 60px;
    }
    .unitImg img{
        height: 400px;
        width: 400px;
        margin: 45px;
    }
    .TC_UnitContainer ul{
        height: 500px;
        width: 500px;
        margin: 60px 0 0 150px;
       
    }
    .TC_UnitContainer li{
        font-size: 40px;
    }

}




/* page */
#lastPageBtn_U,#nextPageBtn_U{
    position: absolute;
    top:290px;
    font-size: 40px;
    color: seashell;
    background-color: rgba(49, 46, 42, 0.185);
}
#nextPageBtn_U{
    left: calc(100vw - 40px);
}
#lastPageBtn_U,#nextPageBtn_U:hover{
    background-color: rgba(49, 46, 42, 0.568);
}

@media screen and (min-width:768px){  
        #lastPageBtn_U,#nextPageBtn_U{
        top:430px;
        font-size: 50px;
    }
    #nextPageBtn_U{
        left: calc(100vw - 50px);
    }
}
@media screen and (min-width:1024px){
    #lastPageBtn_U,#nextPageBtn_U{
        top:530px;
        font-size: 70px;
    }
    #nextPageBtn_U{
        left: calc(100vw - 70px);
    }
}
@media screen and (min-width:1280px){
    #lastPageBtn_U,#nextPageBtn_U{
        top:250px;
        font-size: 60px;
    }
    #nextPageBtn_U{
        left: calc(100vw - 60px);
    }
}

@media screen and (min-width:1920px){
    #lastPageBtn_U,#nextPageBtn_U{
        top:320px;
        font-size: 80px;
    }
    #nextPageBtn_U{
        left: calc(100vw - 80px);
    }
}



/* Menu */
.TC_UnitlMenu{
    height: 50px;
    width: 270px;
    /* background-color: rgba(75, 165, 116, 0.425); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.TC_UnitlMenu i{
    font-size: 35px;
    /* background-color: rgba(169, 169, 169, 0.5); */
}
.TC_UnitlMenu i:hover{
    background-color: rgba(169, 169, 169, 0.5);
    border-radius: 50%;
}
.TC_UnitlMenu .socket{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 2px solid #eceaea;
    position: relative;  
}
.TC_UnitlMenu .socket .record{
    width: 90%;
    height: 90%;
    background: red;
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 2px;
    -webkit-transition: all .3s;
    transition: all .3s;
    transition-timing-function: cubic-bezier(.05,.58,.32,1.35);
    -webkit-transition-timing-function: cubic-bezier(.05,.58,.32,1.35); 
    cursor: pointer
}
.TC_UnitlMenu .socket .record:active{
    width: 60%;
    height: 60%;
    border-radius: 4px;
    top: 6px;
}

@media screen and (min-width:768px){
    .TC_UnitlMenu{
        height: 90px;
        width: 400px;
        
    }    
    .TC_UnitlMenu span:nth-child(n+1){
        font-size: 30px;
        
    }
    .TC_UnitlMenu span:nth-child(n+2){
        font-size: 30px;
       
    }
    .TC_UnitlMenu i{
        font-size: 50px;
     
    }
    .TC_UnitlMenu .socket{
        width: 50px;
        height: 50px;
        
    }
   
    .TC_UnitlMenu .socket .record:active{
        top: 10px;
       
    }
}
@media screen and (min-width:1024px){
    .TC_UnitlMenu{
        margin-top: 50px;
        width: 500px;
    }
}
@media screen and (min-width:1280px){
    .TC_UnitlMenu{
        width: 800px;
        margin-top: 30px;      
    }
    .TC_UnitlMenu i{
        padding-bottom: 0px;
    }
    .TC_UnitlMenu .socket{
        bottom: 0px;
    }
   
    .TC_UnitlMenu .socket .record:active{
        top: 10px;     
    }
    .TC_UnitlMenu .socket .record{

        left: 0.5px;
    }
}

@media screen and (min-width:1920px){

    .TC_UnitlMenu{
        margin-top: 80px;
        width: 900px;
    }
    .TC_UnitlMenu .socket .record{
        width: 85%;
        height: 85%;
        top:2.5px;
        left: 0px;
    }
    .TC_UnitlMenu.socket .record:active{
     
        top: 8px;
    }
}