.UnitCatalogTW{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.UnitCatalogTW .twTitle{
    font-size: 32px;
    position: absolute;
    top:-32px;
    z-index: -1;
    font-weight: bold;
}
.UnitCatalogTW .twMap{
    height: 650px;
    width: 340px;
    background-color: rgba(158, 134, 88, 0);
    overflow: hidden;
    cursor: url(../imgs/map.png) 12 42, auto;

}

.land{
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;
}
.land.active{
    fill: #009688; 
}


@media screen and (min-width:768px){

    .UnitCatalogTW{
        margin-top: 130px;
    }
    .UnitCatalogTW .twMap{
      height: 900px;
        width: 480px;
        
    }
    .UnitCatalogTW .twTitle{
        font-size: 46px;
        letter-spacing: 0.5px;
        right:  400px;
    }

    
}

@media screen and (min-width:1024px){
    .UnitCatalogTW .twTitle{
        font-size: 50px;
        right:  540px;
        top:25px
    }
    .UnitCatalogTW{
        margin-top: 160px;
    }
    .UnitCatalogTW .twMap{
        height: 1100px;
        width: 615px;
        
    }  
}

@media screen and (min-width:1280px){

    .UnitCatalogTW{
        margin-top: 70px;
        justify-content: space-between;
        align-items: flex-end;
       
    }
    .UnitCatalogTW .twTitle{
        position: relative;
        top:65px;
        right: 0;
        font-size: 35px;
    }
    .UnitCatalogTW .twMap{
       margin-top: 30px;
       position: absolute;
       height: 470px;
       width: 265px;
       left: 78px;
    }

}
@media screen and (min-width:1920px){

    
    .UnitCatalogTW .twTitle{
        top:185px;
        font-size: 50px;
    }
    .UnitCatalogTW .twMap{

       height: 845px;
       width: 470px;
       left: 30px;
       top: 65px
    }

}

/* card */



.UnitCatalogTW>.twCard{
    width: 300px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    /* display: none; */
}

.UnitCatalogTW>.twCard>.card-content{
    padding: 30px 30px 10px 30px;
   
}
.UnitCatalogTW>.twCard>.card-content>.card-title{
    display: flex;
    justify-content: space-around;
    
}
.UnitCatalogTW>.twCard>.card-content>.card-action{
    padding: 30px 39px 10px 25px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}


@media screen and (min-width:768px){

    .UnitCatalogTW>.twCard{
        width: 500px;
    }
    .UnitCatalogTW>.twCard>.card-content{
        padding: 40px 50px 10px 50px;
    }
    .UnitCatalogTW>.twCard>.card-content>.card-title{
        font-size: 30px;
        padding-bottom: 10px;
    }
    .UnitCatalogTW>.twCard>.card-content>.card-action{
        font-size: 22px;
        padding: 20px 70px 10px 70px;
    }
    /* .UnitCatalogTW>.twCard>.card-image{
        width: 500px;
        height: 330px; 
    } */

}

@media screen and (min-width:1024px){
    .UnitCatalogTW>.twCard{
        width: 675px;
    }
    .UnitCatalogTW>.twCard>.card-content{
        padding: 40px 50px 30px 50px;
    }
    .UnitCatalogTW>.twCard>.card-content>.card-title{
        font-size: 40px;
        padding-bottom: 20px;
    }
    .UnitCatalogTW>.twCard>.card-content>.card-action{
        font-size: 35px;
        padding: 20px 91px 10px 120px;
    }
    /* .UnitCatalogTW>.twCard>.card-image{
        width: 675px;
        height: 450px;
    } */
}

@media screen and (min-width:1280px){
    .UnitCatalogTW>.twCard{
        position: relative;
        width: 380px;
        top: 90px;
        right: 8px;
    }
    .UnitCatalogTW>.twCard>.card-content{
        padding: 10px
    }
    .UnitCatalogTW>.twCard>.card-content>.card-title{
        font-size: 18px;
        padding-bottom: 0px;
    }
    .UnitCatalogTW>.twCard>.card-content>.card-action{
        font-size: 16px;
        padding: 10px 65px 0px 85px;
        justify-content: center;
    }
    .UnitCatalogTW>.twCard>.card-content>.card-action>.back{
        display: none;
    }
    .UnitCatalogTW>.twCard>.card-image{
        height: 255px;
        overflow: hidden;
        display: flex;
    }
    .UnitCatalogTW>.twCard>.card-image>img{
        position: relative;    
        justify-content: flex-start;
    }
}


@media screen and (min-width:1920px){
    .UnitCatalogTW>.twCard{
        position: relative;
        width: 570px;
        top: 285px;
    }
    .UnitCatalogTW>.twCard>.card-content{
        padding: 20px
    }
    .UnitCatalogTW>.twCard>.card-content>.card-title{
        font-size: 30px;
        padding-bottom: 20px;
    }
    .UnitCatalogTW>.twCard>.card-content>.card-action{
        font-size: 22px;
        padding: 10px 95px 0px 115px;
    }
    .UnitCatalogTW>.twCard>.card-image{    
        height: 380px;
    } 
}